{% extends "base.html" %}
{% block head %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}

<h1>Live plot</h1>
<p class="lead">Updates every few seconds</p>
<div id="graph"></div>

<script type="text/javascript">
    var as_div={{data_type}};
    (function poll() {
        setTimeout(function() {
            if (as_div == 1) {
                $.ajax({
                    type: "GET",
                    url: "{{update_url}}",
                    success: function(data) {
                        $('#graph').replaceWith("<div id='graph'>"+data+"</div>");
                    },
                    dataType: "html",
                    complete: poll,
                    timeout: 2000
                })
            } else {
                $.ajax({
                    type: "GET",
                    url: "{{update_url}}",
                    success: function(data) {
                      var plot_div = document.getElementById('graph')
                      Plotly.newPlot(plot_div, data);
                    },
                    dataType: "json",
                    complete: poll,
                    timeout: 2000
                })}
        }, 2000);
    })();
</script>
{% endblock %}